html {
    border: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Character container */

.characterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.character {
    display: flex; 
    flex-direction: column;
    margin: 2rem 0;

}

.charIcon {
    width: 8rem;
    height: 10rem;
    border-radius: 15px;
    border: 1px solid rgb(10, 10, 0);
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem 0;
}

.charIcon:hover {
    width: 9rem;
    height: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}


/* Player Selection */

#swordKnight.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

#axeKnight.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

#knight.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

#pikeKnight.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

#tigerKnight.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

#archer.active {
    height: 16rem;
    width: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}

/* Battle Container */

#firstSection {
    opacity: 1;
    transition: 0.4s;
}

#firstSection.active {
    opacity: 0;
}

#hide {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    transition: 0.5s ease-in;
    opacity: 1;
}

#hide.active {
    left: 0;
}

#battleContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.name {
    display: flex;
    justify-content: center;
}

.health {
    color: rgb(251, 253, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#p1HealthContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(62, 187, 89);
    margin: 1rem 0;
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

#p1ArmorContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(194, 36, 36);
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

#CPUHealthContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(62, 187, 89);
    margin: 1rem 0;
    border-radius: 8px;
    transition: 0.5s 0.1s;
    color:rgb(81, 3, 3)
}

#CPUArmorContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(194, 36, 36);
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

/* Log container */

#nextRound {
    background-color: rgb(147, 226, 147);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.2rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(130, 131, 130)
}

#nextRound:hover {
    background-color: rgb(74, 133, 74);
}

#battleLogContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

#battleLog {
    width: 90%;
    height: 18rem;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 0.4;
    overflow: scroll;
    scroll-margin-inline-end: 0;
}

#battleLog p {
    font-size: 1.2rem;
    font-weight: 400;
}



/* Battle Button */

.buttonContainer {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgb(147, 226, 147);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.2rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(130, 131, 130)
}

button:hover {
    background-color: rgb(74, 133, 74);
}

/* Pop ups */

.popUpContainer {
    position: fixed;
    width: 35%;
    height: 30%;
    left: 32.5%;
    top: 35%;
    z-index: 100;
}

.popUp {
    background-color: rgb(212, 212, 212);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px rgb(241, 241, 241) ;
    overflow: hidden;
    animation: popups 0.3s linear;
    opacity: 1;
}




#WinpopUp {
    display: none;
}

#losspopUp {
    display: none;
}

/* Pop up animation */

@keyframes popups {
    0% {
        height: 0%;
        width: 0%;
        opacity: 0;
    }
    20% {
        height: 30%;
        width: 30%;
    }
    40% {
        height: 50%;
        width: 50%;
    }
    60% {
        height: 80%;
        width: 80%;
        opacity: 0.6;
    }
    80% {
        height: 110%;
        width: 110%;
        opacity: 1;
    }
    90% {
        height: 90%;
        width: 90%;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}


@media(max-width: 768px) {

    .characterContainer {
        flex-wrap: wrap;
    }

    .character {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}