html {
    border: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Character container */

.characterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.character {
    display: flex; 
    flex-direction: column;
    margin: 2rem 0;

}

.charIcon {
    width: 8rem;
    height: 10rem;
    border-radius: 15px;
    border: 1px solid rgb(10, 10, 0);
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem 0;
}

.charIcon:hover {
    width: 9rem;
    height: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}


/* Player Selection */

#swordKnight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#axeKnight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#knight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#pikeKnight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#tigerKnight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#archer.active {
    padding: 3rem 2rem;
    background-color: green;
}

/* Battle Container */

#firstSection {
    opacity: 1;
    transition: 0.4s;
}

#firstSection.active {
    opacity: 0;
}

#hide {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    transition: 0.5s ease-in;
}

#hide.active {
    left: 0;
}



#battleContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.statsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.name {
    display: flex;
    justify-content: center;
}

.health {
    color: rgb(251, 253, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#p1HealthContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(62, 187, 89);
    margin: 1rem 0;
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

#p1ArmorContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(194, 36, 36);
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

#CPUHealthContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(62, 187, 89);
    margin: 1rem 0;
    border-radius: 8px;
    transition: 0.5s 0.1s;
    color:rgb(81, 3, 3)
}

#CPUArmorContainer {
    width: 100%;
    height: 2rem;
    background-color: rgb(194, 36, 36);
    border-radius: 8px;
    transition: 0.5s 0.1s;
}

/* Log container */

#nextRound {
    background-color: rgb(130, 131, 130);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.2rem;
    cursor: pointer;
}

#battleLogContainer {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

#battleLog {
    width: 90%;
    height: 20rem;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}



/* Battle Button */

.buttonContainer {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBattle {
    background-color: rgb(130, 131, 130);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.2rem;
    cursor: pointer;
}


@media(max-width: 768px) {

    .characterContainer {
        flex-wrap: wrap;
    }

    .character {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}