html {
    border: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.character {
    display: flex; 
    flex-direction: column;
    margin: 2rem 0;

}

.charIcon {
    width: 8rem;
    height: 10rem;
    border-radius: 15px;
    border: 1px solid rgb(10, 10, 0);
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem 0;
}

.charIcon:hover {
    width: 9rem;
    height: 12rem;
    box-shadow: 0 10px 10px rgb(130, 131, 130);
}




#swordKnight.active {
    padding: 3rem 2rem;
    background-color: green;
}

#archer.active {
    padding: 3rem 2rem;
    background-color: green;
}

@media(max-width: 768px) {

    .characterContainer {
        flex-wrap: wrap;
    }

    .character {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}